* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(74, 37, 11);
    color: goldenrod;
    padding: 50px;
    text-align: center;
}

nav {
    background-color: rgb(66, 29, 2);
    padding: 20px;
    text-align: center;

    a {
        color: goldenrod;
        padding: 0 20px;
        text-decoration: none;
    }
}